<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{LayoutPadrao}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>IFMT - Atividades Complementares</title>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

	<script src="/js/bootstrap.bundle.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-3.6.1.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>

	<section layout:fragment="conteudo">

		<!--Form-->
		<div class="container mt-5">

			<!-- Alert -->
			<div class="alert alert-dismissible alert-success fade show" role="alert"
				th:if="${!#strings.isEmpty(mensagem)}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span th:text="${mensagem}"></span>
			</div>


			<h2 class="py-3">Cadastrar nova Atividade</h2>
			<form class="w-75" action="/atividade" method="post">
				<div class="form-group">
					<label for="descricao_atividade">Descrição da Atividade</label>
					<textarea class="form-control" id="descricao_atividade" name="descricao_atividade" rows="3"
						required></textarea>
				</div>
				<div class="form-group">
					<label for="tipo_atividade">Tipo de Atividade</label>
					<select class="form-control" id="tipo_atividade" name="tipo_atividade" required>
						<option th:each="tipo : ${tipoatividade}" th:value="${tipo.id_tipo_atividade}"
							th:label='${tipo.descricao}'> Selecione </option>
					</select>
				</div>
				<div class="form-group">
					<label for="carga_horaria">Carga Horária</label>
					<input type="text" class="form-control" id="carga_horaria" name="carga_horaria" required>
				</div>
				<div class="form-group">
					<label for="instituicao">Instituição</label>
					<input type="text" class="form-control" id="instituicao" name="instituicao" required>
				</div>
				<div class="form-group">
					<label for="ano_conclusao">Ano de Conclusão</label>
					<input type="text" class="form-control" id="ano_conclusao" name="ano_conclusao" required>
				</div>
				<div class="form-group">
					<label for="arquivo">Arquivo (PNG ou PDF)</label>
					<input type="file" class="form-control-file" id="arquivo" name="arquivo" accept=".png,.pdf">
				</div>
				<div class="form-group">
					<label for="observacao">Observação</label>
					<textarea class="form-control" id="observacao" name="observacao" rows="3"></textarea>
				</div>
				
				<div class="form-group">
					<input type="hidden" class="form-control" id="status" name="status" value="PENDENTE">
				</div>
				<div class="form-group">
					<input type="hidden" class="form-control" id="aluno_id_aluno" name="aluno_id_aluno" value="1">
				</div>
				
				
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>

	</section>

</body>

</html>